{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Главная страница{% endblock title %} | Картчная игра</title>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>
<body>
    <div class="canva">
    {% block canva %}
    Здесь будет текст
    {% endblock canva %}
    </div>
</body>
</html>