{% extends 'base.html' %} 

{% block canva %}
<form action="." method="post">
    <h1>{{card.display_name}}</h1>
    <p>Класс: {{card.card_type.type_name}}</p>
    <p>Сила: {{card.strength}}</p>
    {{form.as_p}}
    <button type="submit">Сохранить</button>
</form>
{% endblock canva %}