{% extends 'base.html' %} {% block canva %}
<h1>{{deck.display_name}}</h1>
<p><a href="">Редактировать</a></p>
{% for card in deck.card_set.all %}
<div class="card">
    <h3>{{forloop.counter0|add:"1"}}. Карта {{card.display_name|capfirst}}</h3>
    <p><a href="{% url 'game:card_edit' card.pk %}">Редактировать</a></p>
    <p>Класс: {{card.card_type.type_name|capfirst}}</p>
    <p>Сила: {{card.strength}}</p>
</div>
{% endfor %} {% endblock canva %}