{% extends 'base.html' %}
{% block canva %}
<h1>Игрок {{gamer.user.username}}</h1>
<p>Баланс - {{gamer.balance}}</p>
<p><a href="{% url 'game:deck_detail' gamer.deck.pk %}">Колода</a></p>
{% endblock canva %}