{% extends 'base.html' %}
{% block canva %}
    <h1>Список игроков</h1>
    {% for gm in gamers %}
    <p><a href="{% url 'game:gamer_detail' gm.pk %}">{{gm.user.username}}</a> - {{gm.balance}}</p>
    {% endfor %}
{% endblock canva %}