* {
    margin: 0;
    padding: 0;
}

html,
body,
.canva {
    height: 100%;
}

body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.canva {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    min-height: 100%;
}